# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

### Data Science Tools:
---
### Jupyter NoteBook
---
### VScode
---
### Spyder
---
### Google Colab
---

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print("There are ", hours, "in 200 minutes")

There are  3.3333333333333335 in 200 minutes

  **OBJECTIVES :**
* List popular languages for Data Science.
* List popular libraries for Data Science.
* Data Science Tools.
* Example of Arthimatic Equation.
* Conver minutes into Hours.

## Author:
Syed Muhammad Huzaifa